@import '~bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import './colors.scss';


/**ICONS*/

.bi{
    @extend .bi;
    color: var(--dark-gray);
}

/*GLOBAL*/
body{
    box-sizing: border-box;
    background-color: var(--bs-white);
}


/** Table responsive design*/

.table {
    border-collapse: separate !important;
    border-spacing: 0;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.16), 0px 2px 10px rgba(0,0,0,0.12);
    thead{
        background-color: var(--main-color);
        color: var(--bs-white);
        
        tr :nth-child(1){display:none; border-top-left-radius: 7.5px;}
        tr :nth-child(2){display:none;}
        tr :nth-child(3){display:none;}
        tr :nth-child(4){border-top-left-radius: 7.5px;}
        tr :nth-child(5){display:none;}
        tr :nth-child(6){display:none;}
        tr :nth-child(7){display:none;}
        tr :nth-child(8){border-top-right-radius: 7.5px;}
    }
    tbody{
        tr :nth-child(1){display:none;}
        tr :nth-child(2){display:none;}
        tr :nth-child(3){display:none;}
        tr :nth-child(5){display:none;}
        tr :nth-child(6){display:none;}
        tr :nth-child(7){display:none;}
        tr :nth-child(8) a{display:block;}
        tr :nth-child(9) a{display:block;}
        tr :nth-child(10) a{display:block;}
    }
}

/** end Table*/

/** Navbar */

.customer-navbar{
    @extend .navbar;
    background-color: var(--dark-gray)!important;
}

.collapse-nav{
    @extend .collapse;
    @extend .navbar-collapse;
    display: flex;
    justify-content: flex-start;
}
.nav-elements-container{
    @extend .navbar-nav;
}

/** end Navbar*/

a{
    text-decoration: none;
}

.big-title{
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
    color: #333333;
    background: #FFFFFF;
}

.small-container{
    width: 100%;
    max-width: 650px;
}

.large-container{
    width: 100%;
    max-width: 1000px;
}

.center-block{
    margin: auto auto;
}

.responsive-container{
    width: 90%;
    margin: 0 auto;
}

.padding{
    padding:10px 15px;
}
.margin-top{
    margin-top: 1.5em;
}

.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-field{
    width: 100%;
    background-color: var(--bs-teal);
    &:hover, &:active{
        background-color: var(--bs-teal);
        border-color: var(--bs-teal);
    }
    border-color: var(--bs-teal);
    margin: .5rem 0;
}

.button-field-back{
    @extend .button-field;
    background-color: var(--gray);
    &:hover, &:active{
        background-color: var(--gray);
        border-color: var(--gray);
    }
    border-color: var(--gray);
}

.center-align-field{
    display: flex;
    justify-content: center;
    align-items: center;
}

.field{
    @extend .margin-top;
    label{
        @extend .text-uppercase;
        @extend .text-secondary;

    }
    &:first-of-type{
        margin-top:0;
    }
    input:not([type='checkbox']){ //los corchetes acceden a los atributos para validar
        @extend .form-control;
        @extend .bg-light;
    }
    input[type='checkbox']{
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-right: 0.5em;
    }
}

.pagination{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}


.count-prospects{
    & div:nth-of-type(1){background-color: var(--bs-yellow);}
    & div:nth-of-type(2){background-color: var(--bs-orange);}
    & div:nth-of-type(3){background-color: var(--bs-cyan);}
    color: var(--bs-white);
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 1.5rem;
    justify-content: space-around;
}


.container-prospects{
    text-align: center;
    background-color: var(--cream);
    flex-basis: 0; /* Establece el valor inicial de calculo según eje (width y height) */
    flex-grow: 1; /* LLena en espacio, en combinación con flex basis divide los espacios exactos de los elementos contenidos*/
    border-radius: 15px;
    padding: .5rem 0;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.16), 0px 2px 10px rgba(0,0,0,0.12);
}


/**LAPTOP RESOLUTION*/
@media (min-width: 992px) {
    .table {
        thead{
            tr :nth-child(1){display: table-cell;}
            tr :nth-child(2){display: table-cell;}
            tr :nth-child(3){display: table-cell;}
            tr :nth-child(4){border-top-left-radius: 0;}
            tr :nth-child(5){display: table-cell;}
            tr :nth-child(6){display: table-cell;}
            tr :nth-child(7){display: table-cell;}
        }
        tbody{
            tr :nth-child(1){display: table-cell;}
            tr :nth-child(2){display: table-cell;}
            tr :nth-child(3){display: table-cell;}
            tr :nth-child(5){display: table-cell;}
            tr :nth-child(6){display: table-cell;}
            tr :nth-child(7){display: table-cell;}
        }
    }

    .collapse-nav{
        justify-content: flex-end;
    }

    .container-prospects{
        flex-basis: 150px; /* Establece el valor inicial de calculo según eje (width y height) */
        flex-grow:  unset; /* LLena en espacio, en combinación con flex basis divide los espacios exactos de los elementos contenidos*/
    }

    .small-container{
        max-width: 650px;
    }
}
