<div class="small-container center-block">
    <div class="responsive-container">
        <h1 class="big-title">Nuevo Prospecto</h1>

        <%= render 'form', prospect: @prospect %>

    </div>
</div>
